<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://th.bing.com/th?id=OIF.PlnYYjbbWyZ%2b9LRehxAULw&pid=ImgDet&rs=1"
      alt=""
      height="200px"
      srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae at impedit tempora deleniti dolore! Mollitia deserunt cupiditate optio distinctio sequi in placeat nam corporis quaerat, modi impedit pariatur ipsam provident.
      </a>
    </p>
  </div>
</div>
